/* Yu Gothic-regular */
@font-face {
  font-family: 'Yu Gothic';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
/* Yu Gothic-700 */
@font-face {
  font-family: 'Yu Gothic';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

// /* roboto-mono-regular - latin */
// @font-face {
//   font-family: 'Roboto Mono';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
// }

body {
    font-family: 'Hiragino Sans', 'Yu Gothic', sans-serif;
    font-size: calc(1rem + 0.005vw);
}

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@3/distr/fira_code.css);
code {
    font-family: 'Fira Code', monospace;
    font-size: calc(1rem + 0.005vw);
}
