body {
    font-family: 'Hiragino Sans', 'YuGothic', sans-serif;
    font-size: 1rem;
}

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@3/distr/fira_code.css);
code {
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
}
